<beans>
    <bean id="productDao" class="com.lysenkova.soapstore.dao.jdbc.JdbcProductDao"/>
    <bean id="productService" class="com.lysenkova.soapstore.service.impl.ProductServiceImpl">
        <property name="productDao" ref="productDao"/>
    </bean>
    <bean id="userDao" class="com.lysenkova.soapstore.dao.jdbc.JdbcUserDao"/>
    <bean id="userService" class="com.lysenkova.soapstore.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="securityService" class="com.lysenkova.soapstore.service.impl.SecurityServiceImpl">
        <property name="userService" ref="userService"/>
    </bean>
</beans>