@font-face {

    font-family: 'Jua';
    src: url('fonts/Jua-Regular.eot');
    src: url('fonts/Jua-Regular.eot?#iefix'),
    url('fonts/Jua-Regular.woff') format('woff'),
    url('fonts/Jua-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.body {
    font-family: Jua, sans-serif;
}

#login-page {
    color: blueviolet;
    background: lavender;
}

.form-control {
    min-height: 41px;
    background: #f2f2f2;
    box-shadow: none !important;
    border: transparent;
}

.form-control:focus {
    background: #e2e2e2;
}

.form-control, .btn {
    border-radius: 2px;
}

#login {
    width: 350px;
    margin: 30px auto;
    text-align: center;
}

#login.text-center {
    margin: 10px 0 25px;
}

#login form {
    color: #7a7a7a;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

#login .btn {
    font-size: 16px;
    font-weight: bold;
    background: plum;
    border: none;
    outline: none !important;
}

#login .btn:hover, #login .btn:focus {
    background: lavender;
}

#login a {
    color: #fff;
    text-decoration: underline;
}

#login a:hover {
    text-decoration: none;
}

#login form a {
    color: #7a7a7a;
    text-decoration: none;
}

#login form a:hover {
    text-decoration: underline;
}

.page {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background: linear-gradient(150deg, #CCFFFF, #FFCCCC);
}

.flex__element {
    background-color: #c6e3e8;
    box-shadow: 0 5px 10px;
    margin: 10px;
}

.flex__element:hover {
    transform: scale(1.1);
}

hr {
    margin-bottom: 0px;
}

.name {
    font-size: 27px;
}

p {
    margin: 0;
    color: #596066;
}

img.img-top {
    grid-row: top;
    grid-column: main;
    width: 100%;
    height: auto;
}

.input-group-text {
    width: 102px;
}

.fields .btn {
    background: skyblue;
}

@media (max-width: 767px) {
    .d-flex {
        flex-direction: column;
    }
    .flex__element {
        display: flex;
        flex-direction: row;
    }
    .img {
        width: 50%;
    }
    .content {
        margin-left: 10px;
    }
    hr {
        display: none;
    }
}


@media (min-width: 768px) {
    .d-flex {
        flex-direction: row
    }
    .flex__element {
        flex-direction: row;
    }
}


